/*Create a grid for X/O placements*/

h1 {
    margin-left: 35%;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 60px;
}

#one {
    border: solid;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 3em;
}
#two {
    border: solid;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 3em;
}
#three {
    border: solid;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 3em;
}
#four {
    border: solid;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 3em;
}
#five {
    border: solid;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 3em;
}
#six {
    border: solid;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 3em;
}
#seven {
    border: solid;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 3em;
}
#eight {
    border: solid;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 3em;
}
#nine {
    border: solid;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 3em;
}

.players {
    margin-top: 30px;
    margin-left: 36%;
}

.playerDisp {
    display: flex;
    margin-top: 30px;
    margin-left: 36%;
}

#playerTwo {
    margin-left: 140px;
}

#winner {
    margin-top: 50px;
    margin-left: 50%;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
}

#reset {
    margin-top: 20px;
    margin-left: 50%;
    border: solid;
    border-radius: 5px;
}

#reset:hover {
    background: black;
    color: white;
}